<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                          http://www.springframework.org/schema/beans/spring-beans.xsd
                          http://www.springframework.org/schema/context 
                          http://www.springframework.org/schema/context/spring-context.xsd
                          http://www.springframework.org/schema/tx 
                          http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Import other configuration files -->
    <import resource="classpath:mvc-config.xml" />
    <import resource="classpath:datasource-config.xml" />

    <!-- Configure component scan -->
    <context:component-scan base-package="com.bnpp.pb.lynx" />
    
    <!-- Enable transaction management -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- Define DAO beans -->
    <bean id="studentDao" class="com.bnpp.pb.lynx.dao.StudentDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="subjectDao" class="com.bnpp.pb.lynx.dao.SubjectDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <bean id="marksDao" class="com.bnpp.pb.lynx.dao.MarksDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>
    
    <!-- Define Service beans -->
    <bean id="studentService" class="com.bnpp.pb.lynx.service.StudentServiceImpl">
        <property name="studentDao" ref="studentDao" />
    </bean>
    
    <bean id="subjectService" class="com.bnpp.pb.lynx.service.SubjectServiceImpl">
        <property name="subjectDao" ref="subjectDao" />
    </bean>
    
    <bean id="marksService" class="com.bnpp.pb.lynx.service.MarksServiceImpl">
        <property name="marksDao" ref="marksDao" />
    </bean>
</beans> 